<%- include("../partials/header")%> <%- include("../partials/navbar")%>
<div class="container" style="margin-top: 5rem; margin-bottom: 11rem">
    <%- include('../partials/flash') %>
    <h1 class="mb-5">Регистрация</h1>
    <form
        class="needs-validation"
        action="/register"
        method="POST"
        style="max-width: 70%; margin: 10px auto"
        oninput='password2.setCustomValidity(password2.value != password.value ? "Passwords do not match." : "")'
        novalidate
    >
        <div class="mb-3">
            <label for="username" class="form-label">E-mail</label>
            <input
                type="email"
                class="form-control"
                id="username"
                placeholder="почта"
                name="username"
                required
            />
            <div class="valid-feedback">Почта корректно</div>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Ваше имя</label>
            <input
                type="title"
                class="form-control"
                id="title"
                placeholder="Имя"
                name="title"
                required
            />
            <div class="valid-feedback">Хорошие имя!)</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль </label>
            <input
                type="password"
                class="form-control"
                id="password"
                placeholder="пароль"
                name="password"
                required
            />

        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Повторите пароль</label>
            <input
                type="password"
                class="form-control"
                id="password2"
                placeholder="Повторите пароль"
                name="password2"
                required
            />
            <div class="valid-feedback">Пароли совпадает</div>
        </div>

        <button type="submit" class="btn-main">Создать</button>
    </form>
</div>

<%- include("../partials/footer")%>
