<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Products</title>
        <script src="https://use.fontawesome.com/d64699fd5f.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/assets/icon.svg" type="image/svg+xml">
        <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/slider.css" />
    </head>
    <script>
        function sanitizeInput(input) {
            // Replace special characters with their HTML entities
            return input.replace(/</g, "&lt;").replace(/>/g, "&gt;");
        }

        function displayUserInput() {
            // Get user input from a form field
            var userInput = document.getElementById("userInput").value;

            // Sanitize the user input before displaying it
            var sanitizedInput = sanitizeInput(userInput);

            // Display the sanitized input on the page
            document.getElementById("output").innerHTML = "Sanitized Input: " + sanitizedInput;
        }
    </script>
    <body>
